@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");

body {
  /* background-color: #bcccdc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23334e68' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
  background-color: hsl(210, 22%, 49%);
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(209, 61%, 16%);
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: hsl(209, 61%, 16%);
  display: block;
  text-align: center;
}

.container {
  margin: 64px auto;
  width: 500px;
  height: auto;
  background-color: hsl(212, 33%, 89%);
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.image-div {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 400px;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.image:hover {
  opacity: 0.8;
}

.select {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin: 10px auto;
  box-shadow: inset 0 1px 0 hsl(209, 28%, 39%), 0 5px 5px hsla(0, 0%, 0%, 0.2);
  min-width: 100px;
  height: 40px;
  background-color: hsl(209, 61%, 16%);
  color: white;
}

.options {
  text-align: center;
}

.button-div {
  text-align: center;
  padding: 16px;
}

.more-button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  width: 64px;
  background-color: hsl(209, 61%, 16%);
  font-family: "Monterserrat", sans-serif;
  font-weight: 600;
  box-shadow: inset 0 1px 0 hsl(209, 28%, 39%), 0 5px 5px hsla(0, 0%, 0%, 0.2);
}

.modal-div {
  display: flex;
  justify-content: center;
}

.modal {
  padding: 200px;
  height: 100%;
}

.modal-image {
  border-radius: 5px;
  max-width: 800px;
}

.more-image:hover {
  opacity: 0.7;
}

.image-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px;
  justify-content: center;
}

.more-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.container-more {
  margin: 64px auto;
  width: 800px;
  height: auto;
  background-color: hsl(212, 33%, 89%);
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.back-button {
  text-decoration: none;
  border: 2px solid hsl(210, 22%, 49%);
  padding: 10px 20px;
  border-radius: 5px;
  color: hsl(209, 61%, 16%);
  width: 64px;
  background-color: hsl(212, 33%, 89%);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.more-button-div {
  padding: 20px;
}

.title-more {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(209, 61%, 16%);
  text-align: center;
  font-size: 20px;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  width: 128px;
  background-color: hsl(209, 61%, 16%);
  font-family: "Monterserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  box-shadow: inset 0 1px 0 hsl(209, 28%, 39%), 0 5px 5px hsla(0, 0%, 0%, 0.2);
}

.button:active {
  transform: translateY(1px);
}

.button-center {
  text-align: center;
}

.modal-more {
  padding: 200px;
  height: auto;
  display: flex;
  justify-content: center;
}

.modal-image-more {
  border-radius: 6px;
  max-width: 800px;
}
